/*** Game Styles ***/
.bf-field {
	position: relative;

	width: 256px;
	height: 176px;
	display: inline-block;

	border: 1px solid gray;
	padding: 1px;

	background-image: url(gfx/grass.png);
}

.bf-tile {
	width: 16px;
	height: 16px;
	display: inline-block;

	float: left;
}

.bf-object {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 16px;
	height: 16px;
	display: inline-block;
}

.bf-cat   { background-image: url(gfx/cat.png);        }
.bf-rock  { background-image: url(gfx/rock.png);       }
.bf-tree  { background-image: url(gfx/tree.png);       }
.bf-box   { background-image: url(gfx/box.png);        }
.bf-drum  { background-image: url(gfx/drum.png);       }
.bf-grass { background-image: none;                    }
.bf-fish  { background-image: url(gfx/fish.png);       }

.bf-exp0  { background-image: url(gfx/bomb.png);       }
.bf-exp1  { background-image: url(gfx/explosion1.png); }
.bf-exp2  { background-image: url(gfx/explosion2.png); }
.bf-exp3  { background-image: url(gfx/explosion3.png); }
.bf-exp4  { background-image: url(gfx/explosion4.png); }
.bf-exp5  { background-image: url(gfx/explosion5.png); }
.bf-exp6  { background-image: url(gfx/explosion6.png); }

/*** Interface Styles ***/
.bombfish {
	text-align: center;
}

.bf-level-name {
	font-style: italic;
	font-weight: bold;
	letter-spacing: 2px;
}

.bf-custom-name {
	margin-bottom: 5px;
}

.bf-level-button {
	cursor: pointer;

	width: 20px;
	height: 20px;
	display: inline-block;

	margin: 3px;
}

.bf-controls-regular span, .bf-controls span {
	cursor: pointer;

	width: 60px;

	border: 1px dashed gray;
	padding: 1px 5px;
}

.bf-controls-regular span:hover, .bf-controls span:hover {
	background-color: lightblue;
}

/* TODO: Change these to icons? */
.bf-restart:before { content: "Restart"; }
.bf-solution:before { content: "Solve"; }
.bf-create:before { content: "Create Level"; }

.bf-undo:before { content: "Undo"; }
.bf-redo:before { content: "Redo"; }
.bf-save:before { content: "Save"; }
.bf-load:before { content: "Load"; }
.bf-copy-url:before { content: "Copy"; }
.bf-play:before { content: "Play"; }
.bf-quit:before { content: "Quit"; }

.bf-piece.bf-grass, .bf-current .bf-grass {
	background-image: url(gfx/grass.png);
}
.bf-paint  { background-image: url(gfx/paint.png);  }
.bf-toggle { background-image: url(gfx/toggle.png); }
.bf-cycle  { background-image: url(gfx/cycle.png);  }

.bf-custom {
	display: none;
}

.bf-tool-panel {
	width: 250px;
	margin-bottom: 5px;
	display: inline-block;
}

.bf-current {
	width: 48px;
	height: 48px;
	padding: 1px;

	display: inline-block;
	float: left;

	border: 3px double darkgray;
}

.bf-piece, .bf-tool {
	width: 16px;
	height: 16px;
	padding: 1px;
	margin-right: 1px;

	display: inline-block;
	background-position: 1px 1px;
	background-repeat: no-repeat;

	border: 1px solid darkgray;
}

.bf-current span {
	width: 16px;
	height: 16px;

	display: inline-block;
}

.bf-piece {
	margin-top: 8px;
}

.bf-piece:first-child {
	margin-left: 5px;
}

.bf-tool-panel .selected {
	border: 1px solid pink;
}

.bf-current {
	position: relative;
}

.bf-cur1x2 {
	width: 16px;
	margin: 4px auto;
}

.bf-cur3x1 {
	margin: 16px auto;
	display: inline-flex;
}

.bf-cur3c, .bf-cur4c {
	width: 36px;
	margin: 4px auto;
}

.bf-cur3c span:first-child {
	margin-left: 10px;
	margin-bottom: 4px;
	display: block;
}

.bf-cur3c span:nth-child(2) {
	margin-right: 4px;
}

.bf-cur3c span:last-child, .bf-cur4c span:last-child {
	position: absolute;
	left: 16px;
	top: 16px;
}

.bf-cur4c span:first-child, .bf-cur4c span:nth-child(2) {
	margin-bottom: 4px;
}

.bf-cur4c span:nth-child(odd) {
	margin-right: 4px;
}